.about {

  display: flex;

  &__name {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: normal;
    font-size: 47px;
    line-height: 57px;
    color: #070707;
  }
  &__description{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #070707;
    display: flex;
    align-items: flex-end;
    margin-left: 40px;
    margin-bottom: 50px;
  }
  &__img {
    width: 100%;
    
  }
  &__managment {
    display: flex;
    justify-content: space-between;

  }
  &__button {
    border: none;
    background-color: initial;
  }

}
.second-section {
  width: 100%;
  
  background-color: #F6F6F6;
  
  justify-content: center;

  &__cloud {
    display: block;
    margin: auto;
  }
  &__chapter {
    display: flex;
    justify-content: center;
  }
}
  