.header {
 
  &__all {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__side {
    width: 100%;
  }
  
  &__nav {
    display: flex;
    padding: 0;
    
}
  &__style {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #828282;
  }
  &__home {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #070707;
  }
}