

<header class="main-header header container">
  <a href="../../pages/fourth/index.html">
    <img class="header__logo" src="../../static/images/DLK.png"  alt="logo">
   </a>
   <button class="header__menu header__menu_js" href="#">Menu</button>
  <nav class="header__nav">
    
    <ul class="header__list-link"> 
     <li><a class="header__nav-item" href="../../pages/fourth/index.html">Blog</a></li>
     <li><a class="header__nav-item" href="../../pages/category-products/index.html">Catalog</a></li>
     <li><a class="header__nav-item" href="../../pages/contact-us/index.html">About Us</a></li>
     <li><a class="header__nav-item" href="../../pages/catalog/index.html">Toy for kids</a></li>
     <li><a class="header__nav-item" href="../../pages/animation/index.html">Animation</a></li>
     <li><a class="header__nav-item" href="../../pages/SVG/index.html">Svg</a></li>
     <li><a class="header__nav-item" href="../../pages/contact-us/index.html">Grid</a></li>
     
    </ul>
   <div class ="header__search-contact"> 
    
    <a href="#" class="header__search-logo">
      <img class="header__list-link-conact" src="../../static/images/search.png" alt="search">
    </a>
    <a class="header__nav-item-contact" href="../../pages/contact-us/index.html">Contact Us</a> 
   </div>        
    
  </nav>
    
 
</header>
<header class="mobile-header">
  <div class="mobile-header__content">  
    <div class="mobile-header__navigation">
      
    <a href="#">
      <img class="header__logo" src="../../static/images/DLK.png"  alt="logo">
     </a> 

    <button class="mobile-header__button-close mobile-header__button-close_js">
      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M0.707105 0L0 0.707105L7.07111 7.77821L4.6869e-05 14.8493L0.707151 15.5564L7.77821 8.48532L14.8492 15.5563L15.5563 14.8492L8.48532 7.77821L15.5563 0.707178L14.8492 7.33696e-05L7.77821 7.07111L0.707105 0Z" fill="#1E0606"/>
        </svg>        
    </button>  
    
    <a href="#" class="header__search-logo">
      <img class="header__list-link-conact" src="../../static/images/search.png" alt="search">
    </a> 
      
  </div>
  <div class="mobile-header__menu">
  
  
    <a class="mobile-header__menu__font" href="../../pages/fourth/index.html">Blog</a>
    <a class="mobile-header__menu__font" href="../../pages/category-products/index.html">Catalog</a>
    <a class="mobile-header__menu__font" href="../../pages/contact-us/index.html">About Us</a>
    <a class="mobile-header__menu__font" href="../../pages/catalog/index.html">Toy for kids</a>
    <a class="mobile-header__menu__font" href="../../pages/animation/index.html">Animation</a>
    <a class="mobile-header__menu__font" href="../../pages/SVG/index.html">Svg</a>
    <a class="mobile-header__menu__font" href="../../pages/contact-us/index.html">Grid</a>
    
    <a class="mobile-header__menu__font__contact-us" href="../../pages/contact-us/index.html">Contact Us</a> 
</div>

  </div>
</header>