// Подключение компонентов
@import "./header/header";
@import "./footer/footer";
@import "./button/button";
@import "./link/link";

.body {
  font-family: 'Open Sans', 'sans-serif';
  font-family: 'Gilroy', 'sans-serif';
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
}
a {
  text-decoration: none; 
 }
.li {
  list-style-type: none;
  
}