.footer {
    display: flex;
    background: #434343;
    padding: 0 15px;
    overflow: hidden;
    

  &__nav {
    font-family: 'Open Sans';
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;
color: #AAAAAA; 
margin-top: 100px;
}

  &__gray {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    @media (max-width: 375px)
    {
    flex-wrap: wrap;
    }
}
  &__spisok {
    list-style-type: none;
    font-family: 'Open Sans';
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;
padding-left: 0;
color: #FFFFFF;
  
 
@media (max-width: 569px)
 {
    margin-bottom: 0;
    
    column-count: 2;
    
    column-gap: 17px;
}
 

  &:hover {
    color: #C29974;
    
  }

}
  &__second {
    margin-bottom: 100px;
}
  &__center {
    margin-left: 45px;
}
  &__right {
    margin-right: 85px;
    &:hover {
        text-decoration-line: underline;
    
    }
    &:active {
        text-decoration-line: underline;
    
    }

}
  &__pertner-item {
    border-radius: 15px;
    background: #666666;
}
  &__socail-li {
    display: flex;
}
  &__margin {
    margin-bottom: 15px;
    &:hover {
        opacity: 0.5;
    }
    :active {
        opacity: 0.2;
    }    
}
  &__web-design {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #A2A2A2;

}
  &__rating-button {
    padding: 0;
    border: 0;    
    border-radius: 15px;
    width: 17px;
    height: 16px;
    margin-right: 2px;
    background: #434343;

}
  &__link-button {
    padding: 0;
    border: 0;
    background: #666666;
    border-radius: 15px;
    width: 30px;
    height: 30px;
    margin-right: 10px;    
    cursor: pointer;
    
    &:hover {
        opacity: 0.5;
    }
    &:active {
        opacity: 0.2;
    }
}

  &__rating {
    display: flex;
    align-items: center;
    
}
  &__rating-buttons {
        display: flex;
        margin-left: 25px;
        
    }
    
  &__email-submit {
        display: flex;
        margin-top: 9px;
        
        color: #EBEBEB;
    }

  &__email {
        width: 299px;
        height: 40px;
        
        border: none;
        
        background-color: #666666;
        
    }    
  &__submit {
        width: 81px;
        height: 40px;
        font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    
    text-transform: uppercase;
        color: #FFFFFF;
    background: #000000;
    border: 0;
    }



&__star:hover  path {
  transition: fill .4s;
  fill:#836E5B; 
  
}
}
