<footer class="footer">
  <div class="container">
   <div class="footer__gray container">
    <section>
     <h3 class="footer__nav">Navigation</h3>
      <img class="line" src="../../static/images/Line.png" alt="line">
      <nav >
       <ul class="footer__spisok ">
        <li class="footer__margin"><a class="about-us footer__spisok" href="#"> About Us </a></li>
        <li class="footer__margin"><a class="footer__spisok" href="#"> Blog </a></li>
        <li class="footer__margin"><a class="footer__spisok" href="#">Design Services </a></li>
        <li class="footer__margin"><a class="footer__spisok" href="#"> Featured On </a></li>
        <li class="footer__margin"><a class="holiday-catalog footer__spisok" href="#"> 2018 Holiday Catalog </a></li>
        <li class="footer__margin"><a class="shop-by-designer footer__spisok" href="#"> Shop By Designer </a></li>
      
       </ul>
       
       
      </nav>
      
    </section>
    
   <section>
    <h3 class="footer__nav">Customer Information</h3>
    <img class="line" src="../../static/images/Line.png" alt="line">
     <ul class="footer__spisok">        
      <li class="footer__margin"><a class="about-us footer__spisok" href="#">Contact Us </a></li>
      <li class="footer__margin"><a class="blog footer__spisok" href="#"> Sale Exclusions </a></li>
      <li class="footer__margin"><a class="design-services footer__spisok" href="#">Shipping & Returns </a></li>
      <li class="footer__margin"><a class="featured-on footer__spisok" href="#"> Terms & Conditions </a></li>
      <li class="footer__margin"><a class="holiday-catalog footer__spisok" href="#"> Privacy Policy</a></li>
      <li class="footer__margin"> <a class="shop-by-designer footer__spisok" href="#"> Search </a></li>
     </ul> 
      
   </section>    
   <section> 
    <h3 class="footer__nav">Connect</h3>       
    <img class="line" src="../../static/images/Line.png" alt="line">
     <form class="footer__email-submit" action="email">
      <input class="footer__email" type="email" name="email" id="#" placeholder="Email">
      <button class="footer__submit" type="submit"> join </button>  
     </form>
     <ul class="footer__spisok footer__socail-li">
      <li>
        
        <button class="footer__link-button">
          <img class="footer__pertner-item" src="../../static/images/Facebook.png" alt="star"> 
        </button>
        
      </li>
      <li>
                 
        <button class="footer__link-button" >
          
        <img class="footer__pertner-item" src="../../static/images/Twitter.png" alt="star">
        </button> 
      </li>
      <li>
        <button class="footer__link-button">
        
        <img class="footer__pertner-item" src="../../static/images/Pinterest.png" alt="star">
        </button>
      </li>
      <li>
        <button class="footer__link-button">
         
        <img class="footer__pertner-item" src="../../static/images/Instagram.png" alt="star">
        </button>
      </li>
      
     </ul>       
       
   </section> 
   
  </div>

  <img class="line" src="../../static/images/Line-big.png" alt="line-big">


  <div class="footer__gray footer__second">
    
    <div class="footer__rating">
      <a class="footer__spisok" href="#">Company Rating</a>
      <ul class="footer__rating-buttons footer__spisok">
        <li>
          <button class="footer__rating-button ">
            <a class="" href="#">
            <svg class="footer__star" width="17" height="16" viewbox="0 0 17 16" fill="none">
              <path d="M 8.25 1
              C 7.95 0.08, 6.65 0.08, 6.35  1,
              L 5.28 4.29,
              L 1.82 4.29,
              C 0.85 4.29, 0.45 5.53, 1.23 6.1,
              L 4.03 8.14,
              L 2.96 11.43,
              C 2.66 12.35, 4 13, 4.5 12.55,
              L 7.3 10.51,
              L 10.1 12.55,
              C 10.88 13.11, 11.94 12.35, 11.64 11.43,
              L 10.57 8.14, 
              L 13.37 6.1,
              C 14.15 5.53, 13.75 4.29, 12.78 4.29,
              L 9.32 4.29,  Z" fill="#FFFFFF" />
            </svg> 
            </a>
          </button>
        </li>
        <li>
          <button class="footer__rating-button">
            <a class="" href="#">
              <svg class="footer__star" width="17" height="16" viewbox="0 0 17 16" fill="none">
                <path d="M 8.25 1
                C 7.95 0.08, 6.65 0.08, 6.35  1,
                L 5.28 4.29,
                L 1.82 4.29,
                C 0.85 4.29, 0.45 5.53, 1.23 6.1,
                L 4.03 8.14,
                L 2.96 11.43,
                C 2.66 12.35, 4 13, 4.5 12.55,
                L 7.3 10.51,
                L 10.1 12.55,
                C 10.88 13.11, 11.94 12.35, 11.64 11.43,
                L 10.57 8.14, 
                L 13.37 6.1,
                C 14.15 5.53, 13.75 4.29, 12.78 4.29,
                L 9.32 4.29,  Z" fill="#FFFFFF" />
              </svg> 
              </a>
          </button>
        </li>
        <li>
          <button class="footer__rating-button">
            <a class="" href="#">
              <svg class="footer__star" width="17" height="16" viewbox="0 0 17 16" fill="none">
                <path d="M 8.25 1
                C 7.95 0.08, 6.65 0.08, 6.35  1,
                L 5.28 4.29,
                L 1.82 4.29,
                C 0.85 4.29, 0.45 5.53, 1.23 6.1,
                L 4.03 8.14,
                L 2.96 11.43,
                C 2.66 12.35, 4 13, 4.5 12.55,
                L 7.3 10.51,
                L 10.1 12.55,
                C 10.88 13.11, 11.94 12.35, 11.64 11.43,
                L 10.57 8.14, 
                L 13.37 6.1,
                C 14.15 5.53, 13.75 4.29, 12.78 4.29,
                L 9.32 4.29,  Z" fill="#FFFFFF" />
              </svg> 
              </a>
          </button>
        </li>
        <li>
          <button class="footer__rating-button">
            <a class="" href="#">
              <svg class="footer__star" width="17" height="16" viewbox="0 0 17 16" fill="none">
                <path d="M 8.25 1
                C 7.95 0.08, 6.65 0.08, 6.35  1,
                L 5.28 4.29,
                L 1.82 4.29,
                C 0.85 4.29, 0.45 5.53, 1.23 6.1,
                L 4.03 8.14,
                L 2.96 11.43,
                C 2.66 12.35, 4 13, 4.5 12.55,
                L 7.3 10.51,
                L 10.1 12.55,
                C 10.88 13.11, 11.94 12.35, 11.64 11.43,
                L 10.57 8.14, 
                L 13.37 6.1,
                C 14.15 5.53, 13.75 4.29, 12.78 4.29,
                L 9.32 4.29,  Z" fill="#FFFFFF" />
              </svg> 
              </a> 
          </button>
        </li>
        <li>
          <button class="footer__rating-button">
            <a class="" href="#">
            <svg class="footer__star" width="17" height="16" viewbox="0 0 17 16" fill="none">
              <path d="M 8.25 1
              C 7.95 0.08, 6.65 0.08, 6.35  1,
              L 5.28 4.29,
              L 1.82 4.29,
              C 0.85 4.29, 0.45 5.53, 1.23 6.1,
              L 4.03 8.14,
              L 2.96 11.43,
              C 2.66 12.35, 4 13, 4.5 12.55,
              L 7.3 10.51,
              L 10.1 12.55,
              C 10.88 13.11, 11.94 12.35, 11.64 11.43,
              L 10.57 8.14, 
              L 13.37 6.1,
              C 14.15 5.53, 13.75 4.29, 12.78 4.29,
              L 9.32 4.29,  Z" fill="#FFFFFF" />
            </svg> 
            </a>
          </button>
        </li>
      </ul>
     </div>
    
  <a class="footer__spisok footer__center" href="#">Copyright © 2018 Dlk • Design Life Kids  </a>  

  <a class="footer__web-design footer__right" href="#"> Web Design — Direct Line Development </a>   
      
  </div>  
</div>
</footer>