<footer class="container">
<h2 class="second-section__chapter">Contacts</h2>
<p class="second-section__chapter">Want to know more or just chat?  You are welcome!</p>
<div class="footer__button-column">
<button class="footer__button">
    Send message
</button>
<div>
<button class="footer__button">
    Instagram
</button>
<button class="footer__button">
    Vk
</button>
<button class="footer__button">
    Telegram
</button>
</div>
<div>
<button class="footer__button">
    Mail
</button>
<button class="footer__button">
    GitHub
</button>
<button class="footer__button">
    Phone
</button>
</div>
</div>
<p class="footer__description">Design by DL Academy</p>
<p class="footer__description">Program code from Antonina</p>


</footer>